#services {
    overflow: hidden;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDescription {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.skills {
    left: 120%;    
    width: 500px;
    position: absolute;
    animation: scrollLeft 30s linear infinite;
}

.skillBar1 {
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.skillBar2 {
    animation-delay: calc(30s / 4 * (4 - 2) * -1);
}

.skillBar3 {
    animation-delay: calc(30s / 4 * (4 - 3) * -1);
}

.skillBar4 {
    animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

@keyframes scrollLeft {
    to {
        left: -400px;
    }
}


.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

@media screen and (max-width: 425px) {
    .skills {
        width: 200px;
    }
}
