#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.bg {
    position: absolute;
    top: -4rem;
    right: -5vw;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hello {
    font-size: 2rem;
    font-weight: 100;
}

.introName {
    color: grey;
}

.introPara {
    font-size: 1.5rem;
    font-weight: 100;
}

.introBtn {
    background-color: white;
    color: grey;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

.introBtn:hover {
    background-color: grey;
    color: white;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.role {
    color: grey;
}

@media screen and (max-width: 1440px) {
    .introContent {
        font-size: 3rem;
    }

    .introPara {
        font-size: 1.5rem;
        margin: 0;
    }
}

@media screen and (max-width: 1074px) {
    .introContent {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 947px) {
    .bg {
        opacity: 75%;
    }
    
}

@media screen and (max-width: 680px) {
    .bg {
        position: absolute;
        width: 38rem;
        height: 80vh;
        right: 0vw;
        top: -6vw;
        opacity: 65%;
    }

    .introPara {
        margin: 0;
        font-size: 1rem;
    }

    .introText {
        font-size: 2rem;
    }
}


@media screen and (max-width: 430px) {
    .introContent {
        font-size: 1.6rem;
    }
    .bg {
        position: absolute;
        width: 25rem;
        right: -2vw;
        top: -3rem;
        height: 60vh;
    }
    .hello {
        font-size: 1.3rem;
    }
    .introPara {
        margin: 0;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 390px) {
    .introContent {
        font-size: 5vw;
    }
    .hello {
        font-size: 1rem;
    }
    .introPara {
        margin: 0;
        font-size: 1rem;
    }

    .bg {
        right: -10vw;
    }
}

@media screen and (max-width: 375px) {
    .bg {
        position: absolute;
        width: 20rem;
        right: -5vw;
        top: 0rem;
        height: 50vh;
    }
}

@media screen and (max-width: 320px) {
    .bg {
        right: -11vw;
        top: 4vw;
    }

    .introPara {
        font-size: 1rem;
    }

    .introText {
        font-size: 1.5rem;
    }
}