#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.bg {
    position: absolute;
    top: -4rem;
    right: -5vw;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hello {
    font-size: 2rem;
    font-weight: 100;
}

.introName {
    color: grey;
}

.introPara {
    font-size: 1.5rem;
    font-weight: 100;
}

.introBtn {
    background-color: white;
    color: grey;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: 1px solid grey;
    border-radius: 0.2rem;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

.introBtn:hover {
    background-color: grey;
    color: white;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.role {
    color: grey;
}

@media screen and (max-width: 1440px) {
    .introContent {
        font-size: 3rem;
    }

    .introPara {
        font-size: 1.5rem;
    }

    .bg {
        right: -15vw;
    }
}

@media screen and (max-width: 1074px) {
    .bg {
        right: -20vw;
    }
    .introContent {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 947px) {
    .bg {
        opacity: 75%;
    }
}

@media screen and (max-width: 680px) {
    .bg {
        position: absolute;
        width: 25rem;
        height: 60vh;

        /* width: 50rem; */
        right: -14vw;
        /* height: 52rem; */
        top: 6vw;
        opacity: 65%;
    }
}

@media screen and (max-width: 425px) {
    .introContent {
        font-size: 1.6rem;
    }
    .bg {
        position: absolute;
        width: 25rem;
        right: -10vw;
        top: 5vw;
        height: 60vh;
    }
    .hello {
        font-size: 1.3rem;
    }
    .introPara {
        font-size: 1rem;
    }
}

@media screen and (max-width: 390px) {
    .introContent {
        font-size: 5vw;
    }
    .hello {
        font-size: 1rem;
    }
    .introPara {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    .bg {
        right: -15vw;
        top: -3vw;
    }
}